/* space-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/space-mono-v14-latin-regular.woff2") format("woff2");
}

/* space-mono-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/space-mono-v14-latin-italic.woff2") format("woff2");
}

/* space-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/space-mono-v14-latin-700.woff2") format("woff2");
}

/* space-mono-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/space-mono-v14-latin-700italic.woff2") format("woff2");
}

#container {
  width: 80%;
  max-width: 900px;
  background-color: #1f1f28;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #dcd7ba;
  overflow: hidden;
}

body {
  background-color: #17171d;
  color: #dcd7ba;
  font-weight: 400;
  font-family: "Space Mono", monospace;
}

#nav {
  background-color: #8a9a7b;
  padding: 10px 0;
  text-align: right;
}

#nav ul {
  list-style: none;
}

#nav ul li {
  display: inline;
}

#nav ul li a {
  color: #1f1f28;
  text-decoration: none;
  display: inline-block;
  padding-right: 20px;
}

#main-section {
  display: flex;
  padding-bottom: 5px;
}

#sidebar {
  flex: 0 0 150px;
  padding: 0 2%;
}

#main-content {
  flex: 1;
  min-width: 0;
  padding: 0 2% 0 2%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p,
ul,
ol,
a {
  margin: 0;
  font-size: 1em;
}

a {
  color: #8a9a7b;
  text-decoration: underline;
}

a:hover {
  color: #1f1f28;
  background-color: #8a9a7b;
}

hr {
  margin: 25px 10px;
}
